<div class='row'> 
  <div class='col-md-3'>Name</div>
  <div class='col-md-3'>Short Name</div>
  <div class='col-md-4'>Description</div>
</div>


<div class='row' ng-if='foundItems.notFound'>
   <div class='col-md-12 itemcell'>Nothing found!</div> 
</div>

<div class="row" ng-repeat='item in foundItems.items'>
  <div class='col-md-3 itemcell'>{{item.name}}</div>
  <div class='col-md-3 itemcell'>{{item.short_name}}</div>
  <div class='col-md-4 itemcell'>{{item.description}}</div>
  <div class='col-md-2 itemcell'>
    <button class="btn btn-primary" ng-click='foundItems.onRemove({itemIndex: $index});'>Don't want this one!</button>
  </div>
</div>